button#don-bitcoin {
  cursor: pointer;
}

#don-bitcoin-qr {
  position: absolute;
  top: 0;
  left: 0;
  width: 92%;
  height: 92%;
  background: #ddd;
  border: thick dotted black;
  padding: 3em 2% 0% 2%;
}

#don-bitcoin-qr input[type=range] {
  margin-top: 2em;
  height: 2em;
  width: 320px;
}

#don-bitcoin-qr span {
  display: block;
}

#don-bitcoin-qr .close {
  cursor: pointer;
  position: absolute;
  top: 0.5em;
  left: 270px;
}
